body {
    background: url("/img/black_twill.png");
}

.dataTables_wrapper {
    font-size:14px;
    font-family:Verdana;
}

.content {
    border-radius: 5px;
    background-color: white;
}


#topGraph {
    width:100%;
    height:200px;
}

#talkerGrid {
}

.gridItem {
    background-color: white;
}

.gridItem > h3 {
    padding-left: 1em;
}

.tickLabel, .legendLabel {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 70%;

}