body {
    background: url("/img/black_twill.png");
}

dataTables_wrapper {
    font-size:14px;
    font-family:Verdana;
}

.wrapper {
    border-radius: 5px;
    border:1px solid black;
    background-color: white;
    margin:10px auto;
    width:90%;
    position: relative;
    padding: 20px;
}
