body {
    background: url("/img/black_twill.png");
}

#wrapper {
    padding-left: 1%;
    width: 98%;
}

.dataTables_wrapper {
    font-size:14px;
    font-family:Verdana;
}

.content {
    border-radius: 5px;
    background-color: white;
}

#talker_grid {
    margin-top: 1em;
}

#topGraph {
    text-align: center;
    margin: 1em;
    width:95%;
    height:200px;
}

.gridItem {
   font-family: 'Open Sans', sans-serif;
   color: #4D7593;
}

.internal_ip {
    text-align: left;
    font-size: larger;    
    margin-left: 1em;
    width: 50%;
}
.external_ip {
    float: right;
    font-size: larger;
    margin-left: 1em;
    width: 50%;
}

.internal_ip_name {
    text-align:left;
    margin-right: 5em;
    margin-left: 2px;
    font-size: x-small;
    overflow: hidden;
    white-space: nowrap;
}

.external_ip_name {
    float:right;
    text-align: right;
    margin-left: 5em;
    margin-right: 2px;
    font-size: x-small;
    overflow: hidden;
    white-space: nowrap;
}

.tickLabel, .legendLabel {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 70%;

}



/* Switch to 1 column when width is < 1020 px */
@media screen and (max-width: 1020px)
{
    #talker_grid {
        margin-left: 20%;
        margin-right: 20%;
    }

    .span_1_of_3 {
        width: 100%;
        margin-left: 0;
    }
}

/* Shrink the font when we get small */
@media screen and (max-width: 750px)
{
    .gridItem {
        font-size: smaller;
    }
}